body {
    margin: 0;
    background: #212121;
    color: white;
    margin-right: 20px;
}

h1 {
    margin: 10px 0;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100vh;
    background: #b71c1c;
}

#result {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px;
}